.header{
   background-color: #9BB935;
   height: 80px;
   
}

.container{
   padding: 5rem;
}

.logo{
   height: auto;
   width: 350px;
   max-width: 100%;
   object-fit: contain;
}

.activeLink:hover {
  border: 2px solid #4B2D3E;
  box-shadow: 3px 3px 5px #4B2D3E;
  color: white;
  font-weight: 800;
  border-radius: 10px;
  padding: 5px;
}

.navItem{
   color: white;
}

.buyBtn{
   background-color: #4B2D3E;
   color: white;
}

