.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(206, 204, 204);
    border-radius: 15px;
    box-shadow: 5px 5px 7px grey;

}

.button{
    background-color: rgb(83, 200, 235);
    color: rgb(31, 29, 29);
}

.services-h1{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 2px red;
}