.hero-bg{
    height: 560px;
    object-fit: cover;
}

.hero-content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    max-width: 40%;
}

.hero-content h1{
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1.3;
    color: #4B2D3E;
    
}

.highlight-green{
    color: #9BB935;
    margin-left: 8px;  
}

.hero-content p{
    margin: 20px 0;
    font-size: 1.1rem;
    color: #4B2D3E;
    font-weight: 300;  
}

.hero-btn{
    background-color: #9BB935;
    padding: 12px 32px;
    border: none;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    transition: 0.4s;
}

.hero-btn:hover{
    background-color: #4B2D3E;
}

@media (max-width: 1159px){
    .hero-bg{
        height: 460px;
    }
    .hero-content{
        top: 55%;
        left: 5%;
        max-width: 50%;
    }
    .hero-content h1{
        font-size: 2rem;
    }
    .hero-btn{
        padding: 10px 25px;
    }
}


/* Home Discount section start */

#discount{
  position: relative;
  margin: 7rem 5rem;
 
}

.dis-container{
  position: relative;
  padding: 60px 0px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;

}

.dis-card-container{
  margin-top: 3rem;
  display: flex;
  height: 234px;
}

@media (min-width: 992px) {
    .dis-card-container {
        width: 960px;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }


}
@media (min-width: 768px) {
    .dis-card-container {
        width: 720px;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 576px) {
    .dis-card-container {
        width: 540px;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}



.dis-card-container {
    /* position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px; */
}

.dis-left-part{
  flex-basis: 80%;
  background-color: #f8f5f0;
  padding: 25px 15px;
  position: relative;
}

.small-heading{
  color: #9BB935;
  font-size: 20px;
  margin-bottom: 0;
  font-family:cursive;  /*dancing script */
}

.main-heading{
  color: #4B2D3E;
  font-size: 26px;
  letter-spacing: 0px;
  padding: 0px;
  font-weight: 500;
  line-height: 1.1;
}

.common{
  font-weight: 500;
  color: #4d4d4d;
  font-size: 16px;
  margin-bottom: 1rem;
}

.dis-btn{
  margin-top: 20px;
  font-size: 15px;
  font-weight: 300;

}

.dis1-btn{
 background-color: #9BB935;
 border: none;
 border-radius: 0;
 color: #f8f5f0;
}

.dis-img{
  position: absolute;
  right: -35%;
  z-index: 2;
  bottom: -45px;
  max-width: 100%;
  vertical-align: middle;
  /* overflow-clip-margin: content-box; */
}

@media (min-width: 992px) and (max-width: 1157px){
  .dis-img{
    display: none;
  }
  
}

.dis-right-part{
  flex-basis: 20%;
  background-color: #9BB935;
  position: relative;
}

.dis-offerImg{
  left: -50%;
  top: 15px;
  position: absolute;
  max-width: 100%;
  height: auto;

}






