.hero-bg{
    height: 560px;
    object-fit: cover;
}

.hero-content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    max-width: 40%;
}

.hero-content h1{
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1.3;
    color: #4B2D3E;
    
}

.highlight-green{
    color: #9BB935;
    margin-left: 8px;  
}

.hero-content p{
    margin: 20px 0;
    font-size: 1.1rem;
    color: #4B2D3E;
    font-weight: 300;  
}

.hero-btn{
    background-color: #9BB935;
    padding: 12px 32px;
    border: none;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    transition: 0.4s;
}

.hero-btn:hover{
    background-color: #4B2D3E;
}

@media (max-width: 1159px){
    .hero-bg{
        height: 460px;
    }
    .hero-content{
        top: 55%;
        left: 5%;
        max-width: 50%;
    }
    .hero-content h1{
        font-size: 2rem;
    }
    .hero-btn{
        padding: 10px 25px;
    }
}


.promo-card {
  background: #faf7f4;
  border-radius: 10px;
  height: 270px;
  overflow: hidden;
}

.left-area {
  width: 55%;
  position: absolute;
  z-index: 3;
}

.tagline {
  color: #82a942;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 5px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
}

.subtitle {
  margin: 10px 0;
  color: #444;
}

.view-btn {
  background: #8bb541;
  color: #fff;
  font-weight: 600;
  padding: 8px 28px;
  border-radius: 5px;
}

.right-area {
  background: #a8c45c;
  width: 45%;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
}

.discount-badge {
  width: 90px;
  height: 90px;
  background: #ff2c2c;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border: 5px solid #ff7777;
}

.product-img {
  position: absolute;
  width: 250px;
  bottom: -15px;
  right: 40px;
  z-index: 3;
}



