.hero-bg{
    height: 560px;
    object-fit: cover;
}

.hero-content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    max-width: 40%;
}

.hero-content h1{
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1.3;
    color: #4B2D3E;
    
}

.highlight-green{
    color: #9BB935;
    margin-left: 8px;  
}

.hero-content p{
    margin: 20px 0;
    font-size: 1.1rem;
    color: #4B2D3E;
    font-weight: 300;  
}

.hero-btn{
    background-color: #9BB935;
    padding: 12px 32px;
    border: none;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    transition: 0.4s;
}

.hero-btn:hover{
    background-color: #4B2D3E;
}

@media (max-width: 1159px){
    .hero-bg{
        height: 460px;
    }
    .hero-content{
        top: 55%;
        left: 5%;
        max-width: 50%;
    }
    .hero-content h1{
        font-size: 2rem;
    }
    .hero-btn{
        padding: 10px 25px;
    }
}


.promo-card {
  background: #faf7f4;
  height: 270px;
  overflow: hidden;
}

.left-area {
  width: 80%;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.tagline {
  color: #9BB935;
  font-size: 20px;
  font-style: italic;
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #4B2D3E;
  line-height: 1.2;
}

.subtitle {
  color: #4D4D4D;
}

.view-btn {
  background: #9BB935;
  color: #fff;
  font-weight: 600;
  padding: 8px 1dvh;

}

.right-area {
  background: #9BB935;
  width: 20%;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
}

.discount-badge {
  position: absolute;
  top: 10px;
  right: 50%;
  z-index: 4;
}

.product-img {
    height: auto;
    max-width: 100%;
    position: absolute;
    right: -35%;
    z-index: 3;
    bottom: -50px;
}



